@page "/"
@using ControlTravelWeb.Models
@using ControlTravelWeb.Components.Pages.Componentes

<PageTitle>Acacías Exp</PageTitle>


<!--inicio plantilla-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
<link rel="stylesheet" href="assets/css/owl.css">
<link rel="stylesheet" href="assets/css/lightbox.css">
<!-- Final plantilla -->
<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/bg.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h6>Bienvenido Turista</h6>
                        <h2>Descubre Acacías, Meta</h2>
                        <p>Explora la belleza natural y la riqueza cultural de Acacías. Te ofrecemos los mejores <a rel="nofollow" href="https://templatemo.com/page/1" target="_blank">hoteles, restaurantes y actividades</a>.</p>
                        <div class="main-button-red">
                            <div class="scroll-to-section"><a href="#contact">¡Únete a la aventura!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Services Area Start ***** -->
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-service-item owl-carousel">
                    @foreach (var item in Tarjetas)
                    {

                        <Tarjeta Titulo="@item.Titulo" Descripcion="@item.Descripcion" Icono="@item.Icono" Link="@item.Link" />
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Services Area End ***** -->
<!-- Inicio plantilla -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/video.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/custom.js"></script>
<script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
        var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
            $('body, html').animate({
                scrollTop: reqSectionPos
            },
                800);
        } else {
            $('body, html').scrollTop(reqSectionPos);
        }

    };

    var checkSection = function checkSection() {
        $('.section').each(function () {
            var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                    currentId = $this.data('section'),
                    reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
            }
        });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
        checkSection();
    });
</script>
<!-- final plantilla -->
@code {
    public class TarjetaInicio
    {
        public string? Titulo { get; set; }
        public string? Descripcion { get; set; }
        public string? Icono { get; set; }
        public string? Link { get; set; }
    }
    public static List<TarjetaInicio> Tarjetas = new List<TarjetaInicio>
    {
        new TarjetaInicio
        {
            Titulo="Hoteles",
            Descripcion="Encuentra los mejores hoteles en Acacías, Meta, con opciones de reserva directa.",
            Icono="assets/images/service-icon-01.png",
            Link="/sitios/Hoteles"
        },
        new TarjetaInicio
        {
            Titulo="Museos",
            Descripcion="Encuentra los mejores museos en Acacías, Meta, conoce nuestra historia.",
            Icono="assets/images/service-icon-01.png",
            Link="/sitios/Museos"
        },
        new TarjetaInicio
        {
            Titulo="Monumentos",
            Descripcion="Encuentra los mejores monumentos en Acacías, Meta, conoce nuestra cultura.",
            Icono="assets/images/service-icon-01.png",
            Link="/sitios/Monumentos"
        },
        new TarjetaInicio
        {
            Titulo="Parques y Jardines",
            Descripcion="Encuentra nuestros hermosos parques y jardines, Acacías, Meta te espera.",
            Icono="assets/images/service-icon-01.png",
            Link="/sitios/Parques_Jardines"
        },
        new TarjetaInicio
        {
            Titulo="Playas",
            Descripcion="Encuentra nuestras playas y balnearios, visita Acacías, Meta.",
            Icono="assets/images/service-icon-01.png",
            Link="/sitios/Playas"
        },
        new TarjetaInicio
        {
            Titulo="Restaurantes",
            Descripcion="Ofrecen una variedad de comida casera, de mar y la región.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Restaurantes"
        },
        new TarjetaInicio
        {
            Titulo="Centros culturales",
            Descripcion="Visita nuestros centros culturales y apropiate de nuestra cultura.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Centros_Culturales"
        },
        new TarjetaInicio
        {
            Titulo="Reservas naturales",
            Descripcion="Maravillate con los paisajes naturales mas hermosos de la region.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Reservas_Naturales"
        },
        new TarjetaInicio
        {
            Titulo="Centros de entretenimiento",
            Descripcion="Parcha con amigos, conoce gente en Acacias, Meta.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Centros_Entretenimiento"
        },
        new TarjetaInicio
        {
            Titulo="Sitios religiosos",
            Descripcion="Sitios destinados para la espiritualidad.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Sitios_Religiosos"
        },
        new TarjetaInicio
        {
            Titulo="Parqueaderos",
            Descripcion="Encuentra el parqueadero mas cercano y al mejor precio.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Parqueaderos"
        },
        new TarjetaInicio
        {
            Titulo="Transporte",
            Descripcion="Consulta los medios de transporte disponibles y realiza reservas para tus desplazamientos.",
            Icono="assets/images/service-icon-02.png",
            Link="/sitios/transporteusuario"
        },
        new TarjetaInicio
        {
            Titulo="Clima",
            Descripcion="Conoce y disfruta de la variedad de climas que Acacias tiene para ti.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Clima"
        },
        new TarjetaInicio
        {
            Titulo="Empresas",
            Descripcion="Conoce nuestra industria, comercio, encuentra nuestras empresas.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Empresas"
        },
        new TarjetaInicio
        {
            Titulo="Cultivos",
            Descripcion="Conoce la gran variedad de cultivos que Acacias, Meta tiene por ofrecerte.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Cultivos"
        },
        new TarjetaInicio
        {
            Titulo="Ganaderia",
            Descripcion="Conoce de la diversidad de razas y especies del mejor ganado de la region.",
            Icono="assets/images/service-icon-03.png",
            Link="/sitios/Ganaderia"
        }
    };

    public static List<Unidad> Unidades = new List<Unidad>
    {
        new Unidad
        {
            Titulo="Mr Wu Express",
            Descripcion1="Una nueva comida favorita te vamos a dar acá, ven a probar… Carrera 23#13-27 Avenida Principal",
            UrlImg1="assets/images/chow-fan-especial.jpg",
            Tipo="Restaurante"
        },
        new Unidad
        {
            Titulo="Frambuesa",
            Descripcion1="Desde comida Mexicana hasta Estado Unidense, además de una zona para niños, ¿no suena interesante? Carrera 15 # 14 - 26 A unos pasos del parque principal ",
            UrlImg1="assets/images/images.jpg",
            Tipo="Restaurante"
        },
        new Unidad
        {
            Titulo="Restaurante Corral de Piedra",
            Descripcion1="Especializado en comida caribeña, es una parada popular para aquellos que buscan un buen almuerzo en la carretera1. Km 3 via Acacias a Villavicencio",
            UrlImg1="assets/images/Restaurante%20Corral%20de%20Piedra.jpg",
            Tipo="Restaurante"
        },
        new Unidad
        {
            Titulo="Nuevo Oeste Gastrobar",
            Descripcion1="Un bar y café que destaca por su ambiente acogedor y su comida sabrosa. Finca El Palmar, Vereda Centro Via Acacias - Guamal",
            UrlImg1="assets/images/Nuevo%20Oeste%20Gastrobar.jpg",
            Tipo="Restaurante"
        },
    };

    public class SitiosInicio
    {
        public string? UrlImg { get; set; }
        public string? Titulo { get; set; }
        public string? Valor { get; set; }
        public int Calificacion { get; set; }
    }

    public static List<SitiosInicio> sitios = new List<SitiosInicio>
    {
        new SitiosInicio
        {
            UrlImg="assets/images/course-01.jpg",
            Titulo="Laguna Rosada",
            Valor="$ 350000",
            Calificacion=3
        },
        new SitiosInicio
        {
            UrlImg="assets/images/course-02.jpg",
            Titulo="El Sagu",
            Valor="180 000 $",
            Calificacion=2
        },
        new SitiosInicio
        {
            UrlImg="assets/images/course-03.jpg",
            Titulo="Caños Negros",
            Valor="$ 330 000",
            Calificacion=4
        },
        new SitiosInicio
        {
            UrlImg="assets/images/course-04.jpg",
            Titulo="Las Delicias",
            Valor="$ 120 000",
            Calificacion=5
        },
        new SitiosInicio
        {
            UrlImg="assets/images/course-01.jpg",
            Titulo="Mirador Bello Amanecer",
            Valor="$ 20 000",
            Calificacion=2
        }
    };
}
